.container {
  text-align: center;
  background: #002b52;
  padding: 5%;
  height: 100vh;
}

.container h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  font-family: "Risque";
  font-weight: bold;
}

.container form label {
  display: block;
  margin: 10px;
}

.container > input {
  margin: 10px;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  text-align: center;
}

.date {
  color: blue;
}

.money {
  color: green;
}

.money::before {
  content: "$";
}
