.container {
  background: #002b52;
  height: 100vh;
}

.container h1 {
  font-family: "Risque";
  font-size: 9em;
}

.container footer,
.push {
  height: 50px;
  background-color: #002b52;
}

.container footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container footer li {
  margin: 1%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form * {
  margin: 0.5%;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout * {
  margin: 1%;
}

@media only screen and (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
}
